* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Playfair Display', serif;
    color: black!important;
}

.inputCity {
    background-color: #ADD8E6;
}

.navbar {
    background-color: rgba(204, 204, 204, 0.5)!important;
    color: black!important;
}

.navbar-brand {
    font-size: 30px!important;
}

.collapse {
    margin-left: 75%!important;
}

form {
    text-align: center;
    width: 100%;
}

input {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    text-align: center;
    box-shadow: #87CEFA;
}

.buttonCityAdd {
    padding: 1%;
    color: blueviolet;
    background-color: white;
}

body {
    background-image: url('pozadina.jpg');
}

.card {
    font-size: 20px;
    background-color: rgba(204, 204, 204, 0.5);
    max-width: 30rem;
    min-height: 35rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}

.card2 {
    font-size: 20px;
    background-color: rgba(204, 204, 204, 0.5);
    max-width: 20rem;
    min-height: 25rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}

.size {
    min-width: 100%;
}